#KasumalgarhVanshavali ul {
	margin: 0px;
	padding: 0px;
	padding-top: 4px;
		
background: url(./.png) 0px 0px no-repeat;

}

#KasumalgarhVanshavali li {
  font-family:Georgia, Times New Roman, Times, serif;
	
font-size:12px;
	color: #796000;
	padding: 8px 0 3px 40px;
	margin: 0;
	
margin-left: 10px;
	background: url(./tree_branch.png) 0px 0px no-repeat;
	
list-style: none;
	list-style-image: none;
	

}

#KasumalgarhVanshavali li:hover{font-size:14px;color:green;}

strong{border:2px solid #796000;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}

strong:hover{border:2px solid green;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}


















.kasumalgarh_Vanshavali_Tooltip {outline:none; }

.kasumalgarh_Vanshavali_Tooltip:hover {text-decoration:none;} 
.kasumalgarh_Vanshavali_Tooltip span {
    z-index:10;display:none; padding:;
    margin-top:20px; margin-left:40px;
    width:auto; line-height:auto;
}
.kasumalgarh_Vanshavali_Tooltip:hover span{
    display:inline; position:relative; float:right;
    border:2px solid #796000;font-size:14px;  color:#fff;
    background:#796000url(src/121212bg.png) repeat-x 0 0;
}
    
/*CSS3 extras*/
.kasumalgarh_Vanshavali_Tooltip span
{
    border-radius:2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
        
    -moz-box-shadow: 0px 0px 8px 4px #666;
    -webkit-box-shadow: 0px 0px 8px 4px #666;
    box-shadow: 0px 0px 8px 4px #666;

    opacity: 0.5;
}
.kasumalgarh_Vanshavali_Tooltip img{width:100px;height:100px;float:right;margin-top:0px;}






a{
	cursor:pointer;
}

#KasumalgarhVanshavali li a {
    line-height: 15px;
}
#KasumalgarhVanshavali > ul > li > a {
    color: #3B4C56;
    display: block;
    font-weight: normal;
    position: relative;
    text-decoration: none;
}
#KasumalgarhVanshavali li.parent > a {
    padding: 0 0 0 0px;
}
#KasumalgarhVanshavali li.parent > a:before {
    background-image: url("./plus_minus_icons.png");
    background-position: 25px center;
     content: ""; 
    display: block;
    height: 21px;
    
    position: absolute;
   
    vertical-align: middle;
    width: 23px;
}
#KasumalgarhVanshavali ul li.active > a:before {
    background-position: 0 center;
}



