.slide-out-facebook,
.slide-out-twitter,
.slide-out-google-plus,
.slide-out-pinterest {
     position:fixed;
     left:-264px;
     top:200px;
     width: 250px;
     padding: 5px;
     transition: left 0.5s;
     -webkit-transition: left 0.5s;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     -khtml-border-radius: 5px;
     border-radius: 5px;
     z-index: 1
     }
.slide-out-title-facebook,
.slide-out-title-twitter,
.slide-out-title-google-plus,
.slide-out-title-pinterest {
     width: 20px;
     height: 60px;
     float: right;
     margin-right: -35px;
     box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
     }
 
.slide-out-title-facebook { background-image:url('GajRaj-Singh-Rathore.html'); }
 
.slide-out-title-twitter {margin-top: 50px; background-image:url('images/12.png');}
 
.slide-out-title-google-plus {margin-top: 100px; background-image:url('../images/google_sidebar.html');}
 
.slide-out-title-pinterest {margin-top: 150px; background-image:url('images/pinterest_sidebar.html');}
.slide-out-facebook:hover,
.slide-out-twitter:hover,
.slide-out-google-plus:hover ,
.slide-out-pinterest:hover {
     left:-2px;
     z-index: 2
     }
.slide-out-facebook {
     background-color: #fff;
     border: 2px solid #3A5898;
     height: 300px;
     }
 
.slide-out-twitter {
     background-image:url("bk.png");background-repeat:none;background-color:#101D35;
     border: 2px solid #695116;
     height: 100px;
     }
 
.slide-out-google-plus {
     background-color: #fff;
     border: 2px solid #201D1D;
     height: 300px;
     }
 
.slide-out-pinterest {
     background-color: #fff;
     border: 2px solid #CC2127;
     height: 300px;
     }